{{ define "main" }}
  {{ .Content }}

  {{ if .IsHome }}
    {{ $posts := where .Site.RegularPages "Section" "posts" }}

    {{ if gt (len $posts) 0 }}
      <ul class="post-list">
        {{ range $posts }}
          <li>
            <span class="post-date">{{ .Date.Format "January 2, 2006" }}</span>
            <br>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
      </ul>
    {{ else }}
      <p>No posts yet.</p>
    {{ end }}
  {{ end }}
{{ end }}
