<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="header">
    {{ if .IsHome }}
      <span class="site-name">{{ .Site.Title }}</span>
    {{ else }}
      <span class="site-name"><a href="/">{{ .Title }}</a></span>
    {{ end }}
        <nav>
          <a href="/uses">Uses</a>
          <a href="https://github.com/kullbachxyz" target="_blank">GitHub</a>
          <a href="/contact">Contact</a>
          <a href="/index.xml" target="_blank">RSS</a>
        </nav>
  </header>

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  <footer></footer>
</body>
</html>
