<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='/css/style.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header class="header">
    {{ if .IsHome }}
      <h1>{{ .Site.Title }}</h1>
    {{ else }}
      <a href="/"><h1>{{ .Title }}</h1></a>
    {{ end }}
        <nav>
          <a href="/uses">Uses</a>
          <a href="https://github.com/kullbachxyz" target="_blank">GitHub</a>
          <a href="/contact">Contact</a>
          <a href="/index.xml" target="_blank">RSS</a>
        </nav>
  </header>

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  <footer></footer>
</body>
</html>
