<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="topbar">
    <nav class="menu" id="top-nav">
      <a href="/">Home</a>
      <a href="/posts">Posts</a>
      <a href="/tools">Tools</a>
      <a href="/index.xml" target="_blank">RSS</a>
    </nav>
  </div>

  <div class="container">
    <main class="content">
      {{ block "main" . }}{{ end }}
    </main>
  </div>
</body>
</html>
